body{
        overflow: hidden;
 }
 .holder {
    display: none; 
}

.customBtns{
    position: absolute;
    width: 860px;
    height: 50px;
    margin: 250px 0 0 0;
}
.pgs{
    margin: 0 auto;
    width: 940px;
    height: 450px;
    position: relative; 
}
.menuP1{
    width: 230px;
    height: 290px;
    position: absolute;
    margin: 215px 0 0 39px;
}
.btnP1{
    width: 208px;
    height: 72px;
    margin: 21px 0 -6px 20px;
    cursor: pointer;
}
.contP1{
    width: 555px;
    height: 262px;
    overflow: hidden;
    position: absolute;
    margin: 228px 0 0 283px;
}
.pdf01{
    margin: 488px 0 0 288px;
    position: absolute;
}
.acordeon{
    position: absolute;
    margin: 100px 0 0 10px;
}
.cajaResalt{
    cursor: pointer;
    margin: 0 0 10px 0;
}
.btnExtras{
    position: absolute;
    margin: 310px 0 0 788px;
}

.cls{
    position: absolute;
    right: -6px;
    top: -11px;
    cursor: pointer;
}

.cont_accordeon{
    position: absolute;
    margin-top: 160px;
    margin-left: 60px;
    border-style: solid;
    border-width: 1px;
    width: 619px;
    border-color: #7f7f7f;
}

.posExtras1{
    margin: -57px 0px 0px 787px;
}
.posExtras2{
    margin: -220px 0px 0px 39px;
    width: 85px;
    height: 85px;
    cursor: pointer;
}
.posExtras3{
    margin: -85px 0px 0px 325px;
    width: 85px;
    height: 85px;
    cursor: pointer;
}
.posExtras4{
    margin: -85px 0px 0px 601px;;
    width: 85px;
    height: 85px;
    cursor: pointer;
}
.posExtras5{
    margin: -173px 0px 0px 142px;
    width: 174px;
    height: 283px;
}
.posExtras6{
    margin: -174px 0px 0px 427px;
    width: 174px;
    height: 283px;
}
.posExtras7{
    margin: -173px 0px 0px 700px;
    width: 174px;
    height: 283px;
}
.posExtras8{
    margin: -54px 0px 0px 130px;
}

.posText{
    position: absolute;
    margin-top: -402px;
    margin-left: 61px;
    font-size: 14px;
}
